html {
  height: 100%;
}

body {
  background-color: linen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  position: relative;
}

.ball {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(circle, #ffd7dd, #ffa3d1);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

main {
  text-align: center;
  position: relative;
  z-index: 1;
}

#datetime {
  background-color: white;
  width: 300px;
  margin: auto;
  border: 1px solid grey;
}

body {
  background-color: #ffffff;
  opacity: 1;
  background-image:
    repeating-radial-gradient(circle at 0 0, transparent 0, #ffffff 40px),
    repeating-linear-gradient(#faf0e655, #faf0e6);
}
